<div >

    <h6> Proje Patika+ bootcamp için yapılmıştır</h6>
    <h6> Emrullah Cevizbaş</h6>

    <a class="btn btn-warning" href="https://www.linkedin.com/in/emrullah-cevizba%C5%9F-755743278/"> Linkedin</ac>
</div>