<div class="alert alert-secondary fw-bold">
    <h10 >Bu proje Emrullah Cevizbaş tarafından Patika+ için yapılmıştır</h10>
    <a class="btn btn-info" href="https://www.linkedin.com/in/emrullah-cevizba%C5%9F-755743278/">Linkedin</a>


</div>