<html>
    <head>
        <link href="~/lib/bootstrap.css" rel="stylesheet" />

    </head>
    <body>


        <partial name="_navPartial" />

        <div class="container">
            @RenderBody()
        </div>
<footer>
    <partial name ="_footerPartial" />

</footer>
        



    </body>






</html>